.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItem {
  padding: 10px;
}

.messages {

}

.messages .message {
color: white;
}

.dialogsItems .active {
  color: gold;
  padding: 10px;
}